<div class="report_box">
	<div class="report_title">{{title}}</div>
	<form class="menu_right">
		<button class="menu_item" ui-sref="day" ng-click="reloadPage()">Today</button>
		<button class="menu_item" ui-sref="day" ng-click="sayDate()">Line Graph</button>
	</form>
	<form class="search_settings">
		<input type="date" name="graph" max="2025-12-31" min="2017-01-01" ng-model="inputDate">
		<input class="menu_item" type="button" value="search" ng-click="sayDate()">
	</form>
	<div><canvas id="dayChart" width="1000" height="450"></canvas></div>
</div>
